.borderAnimation:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .borderAnimation:hover:after {
    width: 100%;
    background: black;
  }

 
  .Avatar:hover{
    transform: scale(1.1);
    transition: all 0.1s linear;
    cursor:pointer;
  }
  
  .activeLink > .borderAnimation{
   color:red;
  }