:root{
   --landingPageBackgroundColor:rgba(255, 127, 80, 0);
 }

.superman{
 animation: movesuperman 5s linear  infinite ;
}
@keyframes movesuperman {
    0%{
       transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
     }
     100%{
        transform: translateY(0px);

     }
}
.mainContainer{

background-image: url("../SVG/CloudBackground.svg");
background-repeat:no-repeat ;
height: 100vh;
}

.landpageTitle{
   color:rgb(247 118 32 / 83%);
}

/* .icons:hover{
   transform:scale(1.1);
   transition:all 0.2s linear;  
   box-shadow: 1px 1px 4px 1px black;
} */



.Quote{
   text-align: center;
}

.middleSection{
 padding: 2rem;
 display: flex;
 flex-direction: column;
 gap: 2rem;
}

.middleSection_1{
  display:flex;
  flex-wrap: wrap;
 }

 /* @keyframes textReveal {
   0% {
      opacity: 0;
      transform: translate3d(0px,100%, 0px);
   }
   100% {
      opacity: 1;
      transform: none;
   }
 }


#Left{
   animation-name: textRevealLeft ;
   animation-fill-mode: both;
   animation-duration: 1000ms;
   animation-delay: 0ms;
   animation-iteration-count: 1;
   opacity: 1;
 }
 
 
 @keyframes textRevealLeft{
 
    0% {
       opacity: 0;
       transform: translate3d(-100%, 0px, 0px);
    }
    100% {
       opacity: 1;
       transform: none;
    }
    
 }



 #Right{
   animation-name: textRevealRight;
   animation-fill-mode: both;
   animation-duration: 1000ms;
   animation-delay: 0ms;
   animation-iteration-count: 1;
   opacity: 1;
 }
 
 
 @keyframes textRevealRight{
 
    0% {
       opacity: 0;
       transform: translate3d(100%, 0px, 0px);
    }
    100% {
       opacity: 1;
       transform: none;
    }
    
 } */




.service_1{
   display:flex;
  flex-wrap: wrap;
  flex:0.7;
}

.service1_text{
    flex-direction: column;
    display :flex;
  flex-wrap: wrap;
  flex:1;
    font-size: 22px;
    justify-content: center;
 }

 .serviceImg{
 
 }
 #liveImg{
   width: 80%;
   height: 80%;
   align-self: center;
   margin:0 auto;
 }


 .service1_text_head
 {
   padding:0 4rem;
 }
 .landingText{
    font-size: 20px;
    padding:0 4rem;
    line-height: 1.5rem;
 }