.superman{
 animation: movesuperman 6s linear  infinite ;
}
@keyframes movesuperman {
    0%{
       transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
     }
     100%{
        transform: translateY(0px);

     }
}