.bottomNavbar{
  display:flex;
  flex-direction: column;
  height: 8rem;
  border-top: 2px solid black;
  position: relative;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(224, 165, 82, 0.751); */
}

.icon{
  cursor: pointer;
}

.icon:hover{
  transform: scale(1.1);
  transition: all 0.1s linear;
  color:rgba(224, 165, 82);
}